// sass --watch style.scss:style.min.css --style compressed

@import "partials/variables";
@import "partials/functions";
@import "partials/classes";

@import "partials/theme";
@import "partials/pushmenu";
@import "partials/themecity";
@import "partials/hover";
@import "partials/smoothslider";
@import "partials/city-sai"; // needed to change the file
