// html {
//   font-family: "roboto", helvetica;
//   position: relative;
//   height: 100%;
//   font-size: 100%;
//   line-height: 1.5;
//   color: #444;
// }

// h2 {
//   margin: 1.75em 0 0;
//   font-size: 5vw;
// }

// h3 { font-size: 1.3em; }

// .close {
//   font-size: 50px;
// }

.v-center2 {
  
  width: 100%;
  display: table;
  position: relative;
  top:35em;
  left:10em;
}

.v-center2 > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -10%;
}

.btn {
  
  font-size: 3vmin;
  padding: 0.75em 1.5em;
  // background-color: #fff;
  border: 3px solid #fff;
  color: #fff;
  text-decoration: none;
  display: inline;
  border-radius: 2px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn:hover {
  color: #000000;
  background-color: #fff;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn-small {
  padding: .75em 1em;
  font-size: 0.8em;
}

.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
@media (min-width: 32em) {

.modal-box { width: 70%; }
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #fff;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
<<<<<<< HEAD
  position: absolute;
=======
  position: fixed;
>>>>>>> a0ad12fc13167a4dab5d5d78d5c66f94b578d1f0
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 4em;
  font-weight: 100;
  position: absolute;
  right: 2%;
  top:0px;
  text-decoration: none;
  
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}