.col-centered{
    float: none;
    margin: 0 auto;
}

.thumbnail {
	padding: none;
	margin: 0 0 20px;
	border: none;
}
.category-thumb{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding:0;
}