
.hover {
	position: relative;
				 

}
.hover:hover {
	/*thumnails hover effect and animations*/	 
	img {
		/* transform:        scale(1.1,1.1); /* CSS3 * */
 	/*-moz-transform:     scale(1.1,1.1);/* Firefox */
 	/*-webkit-transform:  scale(1.1,1.1); /* Webkit */
 	/*-o-transform:       scale(1.1,1.1); /* Opera */
	 /*-ms-transform:     scale(1.1,1.1);*/
	 -webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out; 
	filter: blur(3px);
  -webkit-filter: blur(3px);
   -moz-filter: blur(3px);
    -ms-filter: blur(3px);
     -web-filter: blur(3px);
	}
	.thum-hover {
		opacity: 1;
		z-index: 1;
		top:0;
		background-color: rgba(241, 110, 72, 0.7);
		min-height: 100%;
		 -webkit-transition: opacity 0.5s ease-in-out;
  	  	-moz-transition: opacity 0.5s ease-in-out;
   	 	-ms-transition: opacity 0.5s ease-in-out;
    	-o-transition: opacity 0.5s ease-in-out;

		
	}
	.thum-hovertwo {
			opacity: 1;
		z-index: 1;
		top:0;
		background-color: rgba(129, 207, 215, 0.7);
		min-height: 100%;
		 -webkit-transition: opacity 0.5s ease-in-out;
  	  	-moz-transition: opacity 0.5s ease-in-out;
   	 	-ms-transition: opacity 0.5s ease-in-out;
    	-o-transition: opacity 0.5s ease-in-out;

	}
	.line {
		width:40%;
		opacity: 1;
		/*this one is line effect*/
	}
	h2 {
		 transform:         translate(0, 10px); /* CSS3 */
 	-moz-transform:    translate(0,10px); /* Firefox */
 	-webkit-transform: translate(0,10px); /* Webkit */
 	-o-transform:      translate(0,10px); /* Opera */
	 -ms-transform:     translate(0,10px);
	 -webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out; 
	/*this one is headline drop animation*/
	}
	p {
		opacity: 1;
		 -webkit-transition: opacity 0.6s ease-in-out;
  	  	-moz-transition: opacity 0.6s ease-in-out;
   	 	-ms-transition: opacity 0.6s ease-in-out;
    	-o-transition: opacity 0.6s ease-in-out;
    	/*subheadlines opacity animation*/
	}

}




.thum-hover, .thum-hovertwo {
	position: absolute;
	opacity:0;
	/* -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; */
	/*  -webkit-transition: all 0.5s ease-in-out;
  	 -moz-transition: all 0.5s ease-in-out;
   	 -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; */
	text-align: center;
	padding-top: 3em;
	
	h2 {
		color: white;
		font-size: 2em;
			}
	p {
		color: white;
		font-size:1.1em;
		padding: 0.5em;
		opacity: 0;
	}
/*Thumnails hover*/
}

/*line effect*/
.line {
	height:2px;
					 width:0%;
					 margin:15px auto;
					 background-color:#ffffff;
					-webkit-transition: all 500ms ease-out;
					-moz-transition: all 500ms ease-out;
					-o-transition: all 500ms ease-out;
					transition: all 500ms ease-out;	
}






.sect-banner {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.9);
  /*----------------------------------------------   
  -DEMO1: Unordered list
  -----------------------------------------------  */
  /*----------------------------------------------   
  -DEMO2: Banner bg
  -----------------------------------------------  */ }
  .sect-banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(118, 144, 164, 0.4);
    z-index: 0; }
  .sect-banner .v-center {
    position: relative;
    z-index: 2; }
  .sect-banner .v-center {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 4;
    padding: 0 5%; }
    .sect-banner .v-center h1 {
      -webkit-animation: fade-in ease-in-out 2s 0.5s both;
      -moz-animation: fade-in ease-in-out 2s 0.5s both;
      animation: fade-in ease-in-out 2s 0.5s both; }
    .sect-banner .v-center p {
      font-size: 120%;
      -webkit-animation: fade-in ease-in-out 2s 1s both;
      -moz-animation: fade-in ease-in-out 2s 1s both;
      animation: fade-in ease-in-out 2s 1s both; }
  .sect-banner ul.kf-slider li {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fade-out 9s infinite both;
    -moz-animation: fade-out 9s infinite both;
    animation: fade-out 9s infinite both;
    background-image: url(../img/banner-1-sm.jpg); }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li {
        background-image: url(../img/banner-1.jpg); } }
  .sect-banner ul.kf-slider li:nth-child(2) {
    background-image: url(../img/banner-2-sm.jpg);
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s; }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li:nth-child(2) {
        background-image: url(../img/banner-2.jpg); } }
  .sect-banner ul.kf-slider li:nth-child(3) {
    background-image: url(../img/banner-3-sm.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s; }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li:nth-child(3) {
        background-image: url(../img/banner-3.jpg); } }
  .sect-banner .banner-bg {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    background-image: url(../img/banner-1-sm.jpg);
    -webkit-animation: slider-sm ease-in-out 30s both infinite;
    -moz-animation: slider-sm ease-in-out 30s both infinite;
    animation: slider-sm ease-in-out 30s both infinite; }
    @media (min-width: 58em) {
      .sect-banner .banner-bg {
        background-image: url(../img/banner-1.jpg);
        -webkit-animation: slider-lg ease-in-out 30s both infinite;
        -moz-animation: slider-lg ease-in-out 30s both infinite;
        animation: slider-lg ease-in-out 30s both infinite; } }

/*----------------------------------------------   
-Footer
-----------------------------------------------  */

/*----------------------------------------------   
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*----------------------------------------------   
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
/*----------------------------------------------   
--Keyframes Slider - Sm
-----------------------------------------------  */
@-webkit-keyframes slider-sm {
  0% {
    background-image: url(../img/banner-1-sm.jpg); }
  33% {
    background-image: url(../img/banner-2-sm.jpg); }
  66% {
    background-image: url(../img/banner-3-sm.jpg); }
  100% {
    background-image: url(../img/banner-1-sm.jpg); } }
@-moz-keyframes slider-sm {
  0% {
    background-image: url(../img/banner-1-sm.jpg); }
  33% {
    background-image: url(../img/banner-2-sm.jpg); }
  66% {
    background-image: url(../img/banner-3-sm.jpg); }
  100% {
    background-image: url(../img/banner-1-sm.jpg); } }
@keyframes slider-sm {
  0% {
    background-image: url(../img/banner-1-sm.jpg); }
  33% {
    background-image: url(../img/banner-2-sm.jpg); }
  66% {
    background-image: url(../img/banner-3-sm.jpg); }
  100% {
    background-image: url(../img/banner-1-sm.jpg); } }
/*----------------------------------------------   
--Keyframes Slider - Lg
-----------------------------------------------  */
@-webkit-keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.jpg); }
  33% {
    background-image: url(../img/banner-2.jpg); }
  66% {
    background-image: url(../img/banner-3.jpg); }
  100% {
    background-image: url(../img/banner-1.jpg); } }
@-moz-keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.jpg); }
  33% {
    background-image: url(../img/banner-2.jpg); }
  66% {
    background-image: url(../img/banner-3.jpg); }
  100% {
    background-image: url(../img/banner-1.jpg); } }
@keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.jpg); }
  33% {
    background-image: url(../img/banner-2.jpg); }
  66% {
    background-image: url(../img/banner-3.jpg); }
  100% {
    background-image: url(../img/banner-1.jpg); } }



