//This is a silky smooth css hover effect
/*----------------------------------------------   
--Banner
-----------------------------------------------  */
.sect-banner {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.9);
}

.sect-banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background: rgba(118, 144, 164, 0.4);
    z-index: 0; }
  

  .sect-banner .v-center {
    position: relative;
    z-index: 2; }
  
  .sect-banner .v-center {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 4;
    padding: 0 5%; }
    
    .sect-banner ul{
    	padding: 0;
    }
    
    .sect-banner .v-center h1 {
      -webkit-animation: fade-in ease-in-out 2s 0.5s both;
      -moz-animation: fade-in ease-in-out 2s 0.5s both;
      animation: fade-in ease-in-out 2s 0.5s both; }
    
    .sect-banner .v-center p {
      font-size: 120%;
      -webkit-animation: fade-in ease-in-out 2s 1s both;
      -moz-animation: fade-in ease-in-out 2s 1s both;
      animation: fade-in ease-in-out 2s 1s both; }
  
  .sect-banner ul.kf-slider li {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fade-out 9s infinite both;
    -moz-animation: fade-out 9s infinite both;
    animation: fade-out 9s infinite both;
    background-image: url(../img/banner-1-sm.jpg); }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li {
        background-image: url(../img/banner-1.jpg); } }
  .sect-banner ul.kf-slider li:nth-child(2) {
    background-image: url(../img/banner-2-sm.jpg);
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s; }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li:nth-child(2) {
        background-image: url(../img/banner-2.jpg); } }
  .sect-banner ul.kf-slider li:nth-child(3) {
    background-image: url(../img/banner-3-sm.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s; }
    @media (min-width: 58em) {
      .sect-banner ul.kf-slider li:nth-child(3) {
        background-image: url(../img/banner-3.jpg); } }
  .sect-banner .banner-bg {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    background-image: url(../img/banner-1-sm.jpg);
    -webkit-animation: slider-sm ease-in-out 30s both infinite;
    -moz-animation: slider-sm ease-in-out 30s both infinite;
    animation: slider-sm ease-in-out 30s both infinite; }
    @media (min-width: 58em) {
      .sect-banner .banner-bg {
        background-image: url(../img/banner-1.jpg);
        -webkit-animation: slider-lg ease-in-out 30s both infinite;
        -moz-animation: slider-lg ease-in-out 30s both infinite;
        animation: slider-lg ease-in-out 30s both infinite; } }


/*----------------------------------------------   
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*----------------------------------------------   
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
/*----------------------------------------------   
--Keyframes Slider - Sm
-----------------------------------------------  */
@-webkit-keyframes slider-sm {
  0% {
    background-image: url(../img/banner-1-sm.jpg); }
  33% {
    background-image: url(../img/banner-2-sm.jpg); }
  66% {
    background-image: url(../img/banner-3-sm.jpg); }
  100% {
    background-image: url(../img/banner-1-sm.jpg); } }
@-moz-keyframes slider-sm {
  0% {
    background-image: url(../img/banner-1-sm.jpg); }
  33% {
    background-image: url(../img/banner-2-sm.jpg); }
  66% {
    background-image: url(../img/banner-3-sm.jpg); }
  100% {
    background-image: url(../img/banner-1-sm.jpg); } }
@keyframes slider-sm {
  0% {
    background-image: url(../img/banner-1-sm.jpg); }
  33% {
    background-image: url(../img/banner-2-sm.jpg); }
  66% {
    background-image: url(../img/banner-3-sm.jpg); }
  100% {
    background-image: url(../img/banner-1-sm.jpg); } }
/*----------------------------------------------   
--Keyframes Slider - Lg
-----------------------------------------------  */
@-webkit-keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.jpg); }
  33% {
    background-image: url(../img/banner-2.jpg); }
  66% {
    background-image: url(../img/banner-3.jpg); }
  100% {
    background-image: url(../img/banner-1.jpg); } }
@-moz-keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.jpg); }
  33% {
    background-image: url(../img/banner-2.jpg); }
  66% {
    background-image: url(../img/banner-3.jpg); }
  100% {
    background-image: url(../img/banner-1.jpg); } }
@keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.jpg); }
  33% {
    background-image: url(../img/banner-2.jpg); }
  66% {
    background-image: url(../img/banner-3.jpg); }
  100% {
    background-image: url(../img/banner-1.jpg); } }
