


#ctsection1 {
	// background-image: url(../img/1.jpg);
	background-image: url("../img/city-02-02.jpg");
}

#ctsection2 {
	// background-image: url(../img/2.jpg);
	background-image: url("../img/city-03.jpg");
}

#ctsection3 {
	// background-image: url(../img/3.jpg);
	background-image: url("../img/city-04.jpg");
}

#ctsection4 {
	// background-image: url(../img/4.jpg);
	background-image: url("../img/city-05.jpg");
}

#ctsection5 {
	// background-image: url(../img/5.jpg);
	background-image: url("../img/city-01.jpg");
}

