#cwsection1 {
	// background-image: url(../img/1.jpg);
	background-image: url("../img/wine-4.jpg");
}

#cwsection2 {
	// background-image: url(../img/2.jpg);
	background-image: url("../img/wine-2.jpg");
}

#cwsection3 {
	// background-image: url(../img/3.jpg);
	background-image: url("../img/wine-3.jpg");
}

#cwsection4 {
	// background-image: url(../img/4.jpg);
	background-image: url("../img/wine-1.jpg");
}

#cwsection5 {
	// background-image: url(../img/5.jpg);
	background-image: url("../img/wine-5.jpg");
}

h4{
	color: black;
}