


#cfsection1 {
	// background-image: url(../img/1.jpg);
	background-image: url("../img/food-01.jpg");
}

#cfsection2 {
	// background-image: url(../img/2.jpg);
	background-image: url("../img/food-02.jpg");
}

#cfsection3 {
	// background-image: url(../img/3.jpg);
	background-image: url("../img/food-03.jpg");
}

#cfsection4 {
	// background-image: url(../img/4.jpg);
	background-image: url("../img/food-04.jpg");
}

#cfsection5 {
	// background-image: url(../img/5.jpg);
	background-image: url("../img/food-05.jpg");
}