


#ctsection1 {
	// background-image: url(../img/1.jpg);
	background-image: url("../img/02.png");
}

#ctsection2 {
	// background-image: url(../img/2.jpg);
	background-image: url("../img/03.png");
}

#ctsection3 {
	// background-image: url(../img/3.jpg);
	background-image: url("../img/04.png");
}

#ctsection4 {
	// background-image: url(../img/4.jpg);
	background-image: url("../img/05.png");
}

#ctsection5 {
	// background-image: url(../img/5.jpg);
	background-image: url("../img/01.png");
}