


#bcsection1 {
	// background-image: url(../img/1.jpg);
	background-image: url("../img/beach_01.jpg");
}

#bcsection2 {
	// background-image: url(../img/2.jpg);
	background-image: url("../img/beach_02.jpg");
}

#bcsection3 {
	// background-image: url(../img/3.jpg);
	background-image: url("../img/beach_03.jpg");
}

#bcsection4 {
	// background-image: url(../img/4.jpg);
	background-image: url("../img/beach_04.jpg");
}

#bcsection5 {
	// background-image: url(../img/5.jpg);
	background-image: url("../img/beach_05.jpg");
}