$normaltext: 16px;
$headlineFont: "museo-slab", "Arvo", serif;
$textFont: "museo-sans-rounded", "nunito", sans-serif;

//all the colors are defined here
$slate: #3f464c; 
$teal: #81cfd7;
$cream: #f8deb9;
$blush: #dc686f;
$sunset: #f16e48;
$evergreen: #5f9372;
$lightgreen: #b9e0ca;
$earth: #6a4c41;
$deepblue: #245772;
$midblue: #3e788b;



